<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <p>
	Select target age range & take a selfie!
  </p>
  <div>
	<div>
		<label for="age"> Target Age
			<select id="age" name="age">
				<option value="0">00 - 10</option>
				<option value="0">10 - 20</option>
				<option value="0">20 - 30</option>
				<option value="0">30 - 40</option>
				<option value="0">40 - 50</option>
				<option value="0">50 - 60</option>
				<option value="0">60 - 70</option>
				<option value="0">70 - 80</option>
			</select>
		</label>
		<webcam  [trigger]="triggerObservable" 
			(imageCapture)="handleImage($event)"
			[switchCamera]="nextWebcamObservable"
            [imageQuality]="1"
            (initError)="handleInitError($event)"></webcam>
		<button class="actionBtn" (click)="triggerSnapshot();">Take A Snapshot</button>
		<button class="actionBtn" (click)="showNextWebcam(true);" [disabled]="!multipleWebcamsAvailable">Next Webcam</button>
	</div>
  </div>
</div>

<router-outlet></router-outlet>
